<div class="edit-columns-dialog-modal">
  <div class="edit-columns-dialog-modal-content show" id="edit-columns-dialog-content">
    <div class="edit-columns-dialog-modal-title">
      <span class="lf-dialog-title lf-popup-dialog-title">{{ADD_REMOVE_COLUMNS}}</span>
      <button class="lf-close-button" id="edit-columns-dialog-modal-close-dialog" (click)="closeDialog()">
        <span id="edit-columns-dialog-close-icon" class="material-icons">close</span>
      </button>
    </div>
    <div class="lf-dialog-message">
      <div *ngFor="let column of data.allColumnOptions" class="column-list">
        <input
          type="checkbox"
          [checked] = "data.columnsSelected.includes(column)"
          id ="{{column.id}}-checkbox"
          (change) = "onCheckboxChange(column)">
        <label for="{{column.id}}-checkbox"> {{column.displayName}}</label>
      </div>
    </div>
    <div class="lf-dialog-actions">
      <button (click)="closeDialog(data.columnsSelected)"  class="lf-button primary-button">{{OK}}</button>
      <button (click)="closeDialog()" class="lf-button sec-button margin-left-button">{{CANCEL}}</button>
    </div>
  </div>
</div>
